<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0 font-size-18">Destinations</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                            <li class="breadcrumb-item active">Destinations</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->
        <!-- name, region, country, profile, image -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <div class="search-box me-2 mb-2 d-inline-block">
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Search...">
                                        <i class="bx bx-search-alt search-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="text-sm-end">
                                    <button type="button" class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2" data-bs-toggle="modal" data-bs-target="#addDest"><i class="mdi mdi-plus me-1"></i> Add New</button>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table align-middle table-nowrap table-check">
                                <thead class="table-light">
                                    <tr>
                                        <th>
                                            <div class="form-check font-size-16">
                                                <input class="form-check-input" type="checkbox" id="checkAll">
                                                <label class="form-check-label" for="checkAll"></label>
                                            </div>
                                        </th>
                                        <th>Name</th>
                                        <th>Region</th>
                                        <th>Country</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (destinations.length){ %>
                                        <% destinations.forEach(function(dest){ %>
                                            <tr>
                                                <td>
                                                    <div class="form-check font-size-16">
                                                        <input class="form-check-input" type="checkbox" id="orderidcheck01">
                                                        <label class="form-check-label" for="orderidcheck01"></label>
                                                    </div>
                                                </td>
                                                <td><%- dest.name %></td>
                                                <td><%- dest.region %></td>
                                                <td><%- dest.country %></td>
                                                <td><span class="badge badge-pill badge-soft-<%- dest.status ? 'success' : 'danger' %> font-size-12"><%- dest.status ? 'Active' : 'Inactive' %></span></td>
                                                <td>
                                                    <div class="d-flex gap-3">
                                                        <a href="javascript:void(0);" class="text-success update-dest" data-bs-toggle="modal" data-bs-target="#addDest" data-id="<%- dest._id %>"><i class="mdi mdi-pencil font-size-18"></i></a>
                                                        <a href="javascript:void(0);" class="text-danger delete-id" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="<%- dest._id %>"><i class="mdi mdi-delete font-size-18"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <% if (pages > 1) { %>
                            <ul class="pagination pagination-rounded justify-content-end mb-2">
                                <% if (current == 1) { %>
                                <li class="page-item disabled">
                                    <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>
                                <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/admin/destinations/<%- parseInt(current) - 1 %>" aria-label="Previous">
                                        <i class="mdi mdi-chevron-left"></i>
                                    </a>
                                </li>
                                <% } %>
                                <% let i = (parseInt(current) > 5 ? parseInt(current) - 5 : 1) %>
                                <% if (i !== 1) { %>
                                    <li style="display:none"><a href="#">...</a></li>
                                <% } %>
                                <% for (; i <= (parseInt(current) + 4) && i <= pages; i++) { %>
                                    <% if (i == current) { %>
                                        <li class="page-item active"><a class="page-link" href="javascript: void(0);"><%- i %></a></li>
                                    <% } else { %>
                                        <li class="page-item"><a class="page-link" href="/admin/destinations/<%- i %>"><%- i %></a></li>
                                        <% } %>
                                    <% } %>
                                    <% if (i == parseInt(current) + 4 && i < pages) {%>
                                        <li class="disabled"><a href="#">...</a></li>
                                <% } %>
                                <% if (current < pages){ %>
                                    <li class="page-item">
                                        <a class="page-link" href="/admin/destinations/<%- parseInt(current) + 1 %>" aria-label="Next">
                                            <i class="mdi mdi-chevron-right"></i>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>
                        <!-- <ul class="pagination pagination-rounded justify-content-end mb-2">
                            <li class="page-item disabled">
                                <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                    <i class="mdi mdi-chevron-left"></i>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                            <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                    <i class="mdi mdi-chevron-right"></i>
                                </a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->

<!-- destination modal form -->
<div id="addDest" class="modal fade" tabindex="-1" aria-labelledby="addDest" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Add New Destination</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="custom-validation" id="destinationForm" method="post" action="#" autocomplete="off">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="hidden" id="identity">
                                <div class="mb-3">
                                    <label for="productname">Name</label>
                                    <input id="name" name="name" type="text" required class="form-control" placeholder="Name of destination">
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="region">Region</label>
                                        <input class="form-control" list="datalistOptions" id="region" required placeholder="Region">
                                        <datalist id="datalistOptions">
                                            <option value="North Africa">
                                            <option value="South Africa">
                                            <option value="East Africa">
                                            <option value="West Africa">
                                            <option value="Global">
                                        </datalist>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="region">Country</label>
                                        <input class="form-control" list="datalistOptions" id="country" required placeholder="Country">
                                        <datalist id="datalistOptions">
                                            <option value="Egypt">
                                            <option value="Kenya">
                                            <option value="Morocco">
                                            <option value="South Africa">
                                            <option value="Tanzania">
                                            <option value="Rwanda">
                                            <option value="Zimbabwe">
                                        </datalist>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Description</label>
                                    <textarea name="profile" id="profile" required  rows="4" class="form-control" placeholder="Destination Profile"></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="">Featured Image</label>
                                    <div class="input-group">
                                        <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                        <button class="btn btn-primary" type="button" id="inputGroupFileAddon04">Upload</button>
                                      </div> 
                                      <input type="hidden" id="image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light">Save Destination</button>
            </div>
            </form>
            <div class="position-fixed top-0 end-0 p-3" style="z-index: 1005">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <i class="mdi mdi-check-all me-2"></i>
                        Success! New destination added.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="delForm" method="post" action="#">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="del-id">
                    <p>You won't be able to revert this!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Yes, delete it!</button>
                </div>
            </form>
        </div>
    </div>
</div>