<main class="mt-30">
    <div class="container">
        <!--category header-->
        <div class="archive-header">
            <div class="breadcrumb font-small">
                <a href="/">Home</a>
                <span></span> <%- cat.label %>
            </div>
            <h2 class="font-weight-bold"><span class="font-family-normal"><%- cat.label %></span></h2>
            <span class="line-dots mt-30 mb-30"></span>
        </div>
        <div class="row vertical-divider mb-50">
            <div class="col-lg-9 col-md-12">
                <div class="loop-grid-3">
                    <% if (articles.length){ %>
                        <% articles.forEach(function(article){ %>
                            <article class="row wow fadeIn animated">
                                <div class="col-md-4">
                                    <figure class="mb-md-0 mb-sm-3"><a href="single.html"><img src="<%- article.image[1] %>" alt=""></a></figure>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="post-title mb-10 font-weight-bold">
                                        <a href="single.html"><%- article.title %></a>
                                    </h4>
                                    <p class="excerpt mb-20">
                                       <%- article.short_content %>
                                    </p>
                                    <div class="entry-meta meta-2 font-x-small color-muted">
                                        <p class="mb-5">
                                            By <a href="/author/steven-kenedy"><span class="author-name"><%- article.author.firstname %> <%- article.author.lastname %></span></a>
                                        </p>
                                        <span class="mr-10"> <%- formatDate(article.date_added) %></span>
                                        <!-- <span class="has-dot"> 8 mins read</span> -->
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="horizontal-divider mt-15 mb-15"></div>
                                </div>
                            </article>
                        <% }) %>
                    <% }else { %>
                        <main class="mt-100 mb-200">
                            <div class="container">
                                <div class="entry-wraper">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 d-lg-block d-none text-center"><img class="d-inline" src="/static/main/imgs/theme/404.png" alt=""></div>
                                        <div class="col-lg-6 col-md-12 text-center">
                                            <h1 class="mb-20 display-1">404</h1>
                                            <h4 class="mb-30">We’re sorry, we seem to have lost this page, but we don’t want to lose you.</h4>
                                            <p>Visit the <a href="/"><u>Homepage</u></a> or <a href="#"><u>Report the broken link here</u></a></p>
                                            <form action="#" method="get" class="search-form d-lg-flex open-search mb-30">
                                                <i class="icon-search"></i>
                                                <input class="form-control" name="name" id="name" type="text" placeholder="Search...">
                                            </form>
                                            <div class="form-group">
                                                <a href="#" class="btn btn-facebook btn-outline-secondary">Contact us</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    <% } %>
                    
                </div>
            </div>
            <!-- aside -->
            <div class="col-lg-3 col-md-12 primary-sidebar sticky-sidebar">
                <div class="widget-area">
                    <div class="sidebar-widget widget-latest-posts mb-30 wow fadeIn animated">
                        <h6 class="widget-header widget-header-style-4 mb-20 text-center text-uppercase border-top-1 border-bottom-1 pt-5 pb-5">
                            <span>Author Award</span>
                        </h6>
                        <div class="author-content text-center">
                            <a href="author.html"><img class="img-circle d-inline-block mb-10" src="assets/imgs/authors/author-1.jpg" alt=""></a>
                            <p><img src="assets/imgs/authors/sign.png" alt=""></p>
                            <p>
                                You should write because you love the shape of stories and sentences and the creation of different words on a page. Writing comes from reading, and reading is the finest teacher of how to write.
                            </p>
                            <ul class="header-social-network d-inline-block list-inline font-small">
                                <li class="list-inline-item"><a class="social-icon facebook-icon text-xs-center" target="_blank" href="category-list.html#"><i class="ti-facebook"></i></a></li>
                                <li class="list-inline-item"><a class="social-icon twitter-icon text-xs-center" target="_blank" href="category-list.html#"><i class="ti-twitter-alt"></i></a></li>
                                <li class="list-inline-item"><a class="social-icon pinterest-icon text-xs-center" target="_blank" href="category-list.html#"><i class="ti-pinterest"></i></a></li>
                                <li class="list-inline-item"><a class="social-icon instagram-icon text-xs-center" target="_blank" href="category-list.html#"><i class="ti-instagram"></i></a></li>
                            </ul>
                            <p class="font-small mt-15 text-muted"><a href="category-list.html#">View more</a></p>
                        </div>
                    </div>
                    <div class="sidebar-widget widget-latest-posts mb-30 mt-15 wow fadeIn animated">
                        <h6 class="widget-header widget-header-style-4 mb-20 text-center text-uppercase border-top-1 border-bottom-1 pt-5 pb-5">
                            <span>Most comments</span>
                        </h6>
                        <div class="post-block-list post-module-1 post-module-5">
                            <ul class="list-post">
                                <li class="mb-15">
                                    <div class="d-flex">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale">
                                            <a class="color-white" href="single.html">
                                                <img src="/static/main/imgs/news/thumb-3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">How I Made $11,000 From Writing in 30 Days</a></h6>
                                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                <span class="post-on mr-15">25 April</span>
                                                <span class="hit-count has-dot">54k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mb-15">
                                    <div class="d-flex">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale">
                                            <a class="color-white" href="single.html">
                                                <img src="/static/main/imgs/news/thumb-4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Incognito Mode Won’t Keep Your Browsing Private</a></h6>
                                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                <span class="post-on mr-15">25 April</span>
                                                <span class="hit-count has-dot">54k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex">
                                        <div class="post-thumb post-thumb-80 d-flex mr-15 border-radius-5 img-hover-scale">
                                            <a class="color-white" href="single.html">
                                                <img src="/static/main/imgs/news/thumb-5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content media-body">
                                            <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">So You Want To Know The Cause of Avicii’s Death?</a></h6>
                                            <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                <span class="post-on mr-15">25 April</span>
                                                <span class="hit-count has-dot">54k Views</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget widget_newsletter wow fadeIn animated">
                        <h6 class="widget-header widget-header-style-4 mb-20 text-center text-uppercase border-top-1 border-bottom-1 pt-5 pb-5">
                            <span>Newsletter</span>
                        </h6>
                        <div class="newsletter">
                            <p class="">Continue reading uninterrupted with a subscription</p>
                            <form target="_blank" action="#" method="get" class="subscribe_form relative mail_part">
                                <div class="form-newsletter-cover">
                                    <div class="form-newsletter">
                                        <input type="email" name="EMAIL" placeholder="Email address" required="">
                                        <button type="submit">
                                            <span class="long-arrow long-arrow-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>